.select-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .user-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: #ccffd9;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
  }
  
  .user-list li:hover {
    background-color: orange;
  }
  