.container-main {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.full-height-container{
  background: url('../images/edituser-image.jpg') no-repeat center center;
  background-size: cover;
  min-height: calc(100vh - 80px);
  padding-bottom: 10px;
}

.header-main {
  text-align: center;
  /* margin-bottom: 20px; */
}

.new-user-edit {
  font-size: 2em;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.right-screen-exist {
  flex: 1;
  background-color: #d4d3d3;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  max-width: 600px;
}

.ip-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.ip-table th, .ip-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.ip-table th {
  background-color: #f2f2f2;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.textboxs {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.textboxsu{
  width: 60%;
  font-size: 20px;
  margin-bottom: -10px;
  padding: 5px;
  border: 2px solid #2e7d32;
  border-radius: 5px;
}

.submit-button-containeru {
  display: flex;
  justify-content: center;
}

.save-btnu {
  /* background-color: #007bff; */
  margin-top: 1%;
  background-color: #0a9011;
  font-size:larger;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 45px;
  cursor: pointer;
}

.save-btnu:hover {
  background-color: rgb(22, 204, 22);
}

.add-ip-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-ip-btn{
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  font-size:small;
  width: 120px;
}

.add-ip-btn:hover, .save-btn:hover {
  background-color: #0056b3;
}

.cancel-btn {
    /* margin-left: 1px; */
    background-color: red;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;

    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    font-size:small;
    width: 100px;
}

.cancel-btn:hover {
    background-color: darkred;
}
