.dash {
  padding: 20px;
  text-align: center;
  background: url('../images/dashboard-image.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 80px);
  position: relative;
  animation: fadeIn 1s ease-in;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 30%;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  transition: opacity 0.3s ease;
}

.image-container {
  position: relative;
  width: 100%;
  border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.device-name-card {
  background-color: rgb(31, 234, 31); 
  color: #333;
  padding: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.device-name-card:hover {
  transform: scale(1.05);
}

.device-text {
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  animation: fadeIn 1s ease-in;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination-button:hover {
  transform: scale(1.05);
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.page-number {
  font-size: 1.2rem;
  margin: 0 10px;
}

.contact-us {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
}

.contact-us h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  font-size: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.fields{
  text-align: left;
  margin-left: 5px;
}

.name-phone{
  display: flex;
}

.form-new{
  margin-right: 20px;
  width: 100%;
}

.form-news{
  width: 100%;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }

  .pagination-button {
    margin: 5px 0;
  }
}
