.set-password-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.set-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-groups {
  position: relative;
  margin-bottom: 15px;
}

.password-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Space for the icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-toggle-iconnn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  visibility: hidden; /* Hide by default */
}

.input-groups .password-input:focus + .password-toggle-iconnn,
.input-groups .password-input:not(:placeholder-shown) + .password-toggle-iconnn {
  visibility: visible; /* Show icon when input is focused or not empty */
}

.submit-password-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-password-btn:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
}
