.dash {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 30%; /* Adjust width to fit 3 items per row */
  margin: 10px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.device-name-card {
  background-color: rgb(31, 234, 31); 
  color: #333;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.device-name-card:hover {
  background-color: rgb(28, 181, 28);
}

.device-text {
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #cccccc;
}

.page-number {
  font-size: 1.2rem;
  margin: 0 10px;
}
