.device-detail-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.table-section {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section th, .table-section td {
    border: 1px solid #ddd;
    padding: 28px;
    text-align: center;
}

.table-section th {
    background-color: #f2f2f2;
}

.filter-section {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-section h3 {
    margin-bottom: 20px;
    color: #333;
}

.date-picker {
    margin-bottom: 20px;
    width: 100%;
}

.date-picker label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.MuiFormControl-root {
    width: 100%;
}

.dropdown-section {
    margin-top: 20px;
    width: 100%;
}

.dropdown-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.dropdown-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.graph-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 80%;
    width: 100%;
}

.download-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-left: 10%; */
    width: 100%;
}

.graph-button:hover {
    background-color: #0056b3;
}

.date-time-pick{
    width: 250px; 
    bottom: 10px;
}

@media (max-width: 768px) {
    .device-detail-page {
        flex-direction: column;
    }

    .table-section, .filter-section {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .device-detail-page {
        padding: 10px;
    }

    .table-section th, .table-section td {
        padding: 4px;
    }

    .filter-section h3 {
        font-size: 1.2em;
    }
}

.date-picker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.date-pickers {
    margin: 10px 0;
}

.date-picker label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.date-pickers label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.date-picker .react-datepicker-wrapper {
    width: 100%;
}

.date-pickers .react-datepicker-wrapper {
    width: 30%;
}

.date-picker .react-datepicker__input-container,.date-pickers .react-datepicker__input-container {
    width: 100%;
}

.date-picker .react-datepicker__input-container input,.date-pickers .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.date-picker .react-datepicker__input-container input:focus,.date-pickers .react-datepicker__input-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(38, 143, 255, 0.5);
}

.date-picker .react-datepicker,.date-pickers .react-datepicker {
    border-radius: 8px;
    border: 1px solid #ccc;
}

.date-picker .react-datepicker__header,.date-pickers .react-datepicker__header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.date-picker .react-datepicker__day,.date-pickers .react-datepicker__day {
    border-radius: 50%;
    padding: 5px;
}

.date-picker .react-datepicker__day:hover,.date-pickers .react-datepicker__day:hover {
    background-color: #007bff;
    color: white;
}

.date-picker .react-datepicker__day--selected,.date-pickers .react-datepicker__day--selected  {
    background-color: #007bff;
    color: white;
}

.date-picker .react-datepicker__month-container,.date-pickers .react-datepicker__month-container {
    border-radius: 0 0 8px 8px;
}

.download-section {
    margin-top: 20%;
}

.download-section h3 {
    margin-bottom: 10px;
}

.download-section .date-picker {
    margin-bottom: 10px;
    width: 100%; 
}

.download-section .date-picker label {
    margin-right: 10px;
}

.download-section .date-picker-input {
    width: 100%;
}

.download-button {
    background-color: #28a745;
}

.download-button:hover {
    background-color: #218838;
}

