* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to right, #d9ffcc, #ccffd9);
}

.left-panel, .right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.right-panel {
  background: url('./images/leaf.jpg') no-repeat center center;
  background-size: cover;
}
/* .form-container {
    background-color: #e1e1e1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
} */

.form-container {
  padding: 2rem;
  background-color: #e1e1e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}

.logo {
  position: absolute;
  top: 0rem;
  left: 0.7rem;
}

.help-link {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  color: #27ae60;
}

.h1title{
  text-align: left;
  font-style: Canva Sans;

}
.avatar-icon {
  font-size: 8rem;
  color: green;
}

.input-group {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.size{
  font-size: 1.4rem !important;
}

.input-group input {
  width: 100%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 2rem;
  display: block;
  margin: 0 auto; 
  height: 2rem ;
}

.error-message {
  font-size: 18px;
  color: red;
}

.signin-btn {
  width: 50%;
  padding: 1rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
  background-color: orange;
  border-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-container {
  display: flex;
  align-items: center;
  margin-top: -20px !important;
  width: 100%;
}

.password-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 20px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #ccc;
}

.password-group input {
  padding-right: 40px;
}

.remember-me-label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  color: rgb(12, 0, 0);
}

.remember-me {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.remember-me:checked {
  border-color: black;
  background-color: black;
}

.remember-me:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.forgot-pass {
  text-align: right; 
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: black;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  
  .left-panel, .right-panel {
    width: 100%;
    padding: 1rem;
  }

  .form-container {
    max-width: 100%;
  }

  .input-group input {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .signin-btn {
    width: 70%;
  }

  .help-link, .logo {
    position: static;
    margin-bottom: 1rem;
  }

  .avatar-icon {
    font-size: 5rem;
  }
}

@media (max-width: 465px) {
  .input-group input {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .signin-btn {
    width: 100%;
    font-size: 0.8rem;
  }

  .avatar-icon {
    font-size: 4rem;
  }
}
