* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: url('./images/leafs.jpg') no-repeat center center;
  background-size: cover;
}

.left-panel, .right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
  padding: 2rem;
  padding-top: 0px;
  background-color: #e1e1e1;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: 75%;
  max-height: 440px;
}

.logo {
  position: absolute;
  top: 0rem;
  left: 0.3rem;
  margin-bottom: 20px; 
}

.help-link {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #27ae60;
}

.h1title{
  font-size: 32px;
}

.input-group {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.size{
  font-size: 1.4rem;
}

.input-group input {
  width: 100%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto; 
  height: 2rem ;
}

.error-message {
  font-size: 18px;
  color: red;
}

.signin-btn {
  width: 40%;
  padding: 0.7rem;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  margin:  auto;
  background-color: #2cb216;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-container {
  display: flex;
  align-items: center;
  margin-top: -20px !important;
  width: 100%;
}

.password-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 20px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #ccc;
}

.password-group input {
  padding-right: 40px;
}

.remember-me-label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  color: rgb(12, 0, 0);
}

.remember-me {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.remember-me:checked {
  border-color: black;
  background-color: black;
}

.remember-me:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.forgot-pass {
  text-align: right; 
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: black;
}

.or-container {
  display: flex;
  align-items: center;
  width: 100%; 
  /* margin-left: -2rem;  */
  /* margin-right: -2rem;  */
  margin-top: 1.5rem;
  justify-content: space-between;
}

.line {
  flex-grow: 1;
  border-bottom: 1px dashed #ccc;
  height: 1px;
  margin: 20px;
  /* margin-top: 20px; */
}

.or-text {
  font-size: 1rem;
  color: #333;
}

.signup-text {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #27ae60;
  cursor: pointer;
  margin: 0;
}

.signup-text a{  
  color: #007BFF;
  text-decoration: none;
}

.new-form{
   display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

@media (max-width: 767px) {
  .or-container{
    margin-top: 3.5rem;
  }

  .container {
    flex-direction: column;
    background-size: cover;
  }

  .new-form{
    display: flex;
    flex-direction: column;
    justify-content: normal; 
    height: 100%;
  }
  
  .left-panel {
    width: 100%;
  }

  .right-panel{
    display: none;
  }

  .form-container {
    max-width: 100%;
  }

  .input-group input {
    padding: 2rem;
    font-size: 1.2rem;
  }

  .signin-btn {
    width: 50%;
  }

  .help-link, .logo {
    margin-bottom: 1rem;
  }

}

@media (max-width: 465px) {

  .input-group input {
    font-size: 0.9rem;
    padding: 1.8rem;
  }

  .signin-btn {
    width: 50%;
    font-size: 0.8rem;
  }
}

@media (max-width: 380px){
  .h1title{
    font-size: 25px;
  }
}
