.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a90e2; /* Nice background color */
  height: 80px; /* Increased height */
  position: relative;
}

.navbar-title {
  font-size: 24px; /* Increased font size */
  color: #fff;
  font-weight: bold;
}

.profile-icon-container {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-menu p {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu p:hover {
  background-color: #f1f1f1;
}

.user-greeting {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ecf0f1;
  animation: fadeIn 3s ease-in-out, moveUpDown 3s ease-in-out infinite;
  padding: 10px 20px;
  background: linear-gradient(90deg, #c2cacd, #74c57c);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.search-results {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1000;
  overflow: hidden;
}

.search-result-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-result-item:hover {
  background-color: #1abc9c;
}

.logout-button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-left: 50px;
}

.logout-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .profile-icon-container {
    position: static;
    margin-top: 10px;
  }

  .dropdown-menu {
    top: 60px;
    right: 20px;
  }
}
